body {
	background-image: url(iitr.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#infom {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	margin: 170px;
	width: 35%;
}
#infom ul li{
	list-style: none;
	font-family: 'Mukta', sans-serif;
	font-weight: bolder;
	font-size: 28px;
	margin: 60px;
	color: #4C0099;
	-webkit-text-stroke-width: 0.001px;
	-webkit-text-stroke-color: #330066;
}
.work {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
@media screen and (max-width: 1300px) {
	#infom ul li {
		font-size: 24px;
		margin: 50px;
	}
	body {
		background-size: 1300px 754px;
	}
}
@media screen and (max-width: 1190px) {
	#infom ul li {
		font-size: 20px;
		margin: 45px;
	}
	body {
		background-size: 1190px 754px;
	}
}
@media screen and (max-width: 1060px) {
	#infom ul li {
		font-size: 17px;
		margin: 40px;
	}
	body {
		background-size: 1060px 754px;
	}
}
@media screen and (max-width: 950px) {
	#infom ul li {
		font-size: 15px;
		margin: 37px;
		margin-left: 10px;
	}
	body {
		background-size: 950px 754px;
	}
}
@media screen and (max-width: 750px) {
	#infom ul li {
		font-size: 12px;
		margin: 35px;
		margin-left: 10px;
	}
	body {
		background-size: 750px 754px;
	}
}
@media screen and (max-width: 643px) {
	#infom ul li {
		font-size: 10px;
		margin: 31px;
		margin-left: 8px;
	}
}
@media screen and (max-width: 450px) {
	#infom ul li {
		font-size: 7px;
		margin-left: : 0;
		height: 30px;
	}
	#info {
		width: 500px;
	}
	body {
		background-size: 450px 754px;
	}
}
